<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ozem">

        <activity
            android:name=".MedicationDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".RoutineActivity"
            android:exported="false" />

        <activity
            android:name=".ConfigMedicationActivity"
            android:exported="false" />

        <!-- Agora o launcher é o QuizActivity -->
        <activity
            android:name=".QuizActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity deixa de ser launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />

        <activity
            android:name=".WeightActivity"
            android:exported="false" />

        <activity
            android:name=".SymptomsActivity"
            android:exported="false" />

        <activity
            android:name=".InjectionActivity"
            android:exported="false" />

        <activity
            android:name=".EducationActivity"
            android:exported="false" />

        <activity
            android:name=".MedicationListActivity"
            android:exported="false" />

        <activity
            android:name=".DailyGoalsActivity"
            android:exported="false" />

        <receiver
            android:name=".DailyGoalsReminderReceiver"
            android:exported="false" />

        <activity
            android:name=".JourneyGlp1Activity"
            android:exported="false" />

        <activity
            android:name=".ReportActivity"
            android:exported="false" />

        <activity
            android:name=".PhotoGalleryActivity"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"> <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />

        <activity android:name=".ProfileActivity"
            android:exported="false" />

    </application>

</manifest>